.container{
    max-width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: hsla(135, 58%, 44%, 1);
    border-radius: 20px;
}

.iconContainer{
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
    background-color: hsla(207, 53%, 93%, 1);
    text-align: center;
}

.iconContainer img{
    width: 30px;
    height: 30px;
}

.sub-tittle h2{
    color: hsla(140, 60%, 99%, 1);
    font-size: 24px;
    font-weight: 500;
}

.sub-tittle p{
    color: hsla(0, 0%, 100%, 1);
    font-size: 14px;
    font-weight: 400;
}

.sub-tittle{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sub-tittle > *{
    margin: 4px;
}