:root{
    --grey : #999999;
    --green : #34C759;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4px 76px ;
    align-items: center;
    border-bottom:1px solid  var(--grey);
    height: 60px;
    overflow: hidden;
    position: absolute;
    width: 90%;
    z-index: 1;
}

.middleside{
    padding: 4px;
}
.middleside ul{
    display: flex; 
    width: 60%; 
    justify-content: space-evenly;
    margin: auto;
}
.middleside > ul > li , .middleside > ul > li > a {
      list-style: none;
      text-decoration: none;
}
.middleside a{
    font-size: 18px;
    color: white;
}

.rightside{
    text-align: right;
}
.rightside > * {
    margin: 0  12px;
}

.rightside button{
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.rightside :nth-child(2):hover {
    background-color: #1fb457;
}

.rightside :first-child{
    background-color: transparent;
    border: none;
}
.rightside :nth-child(2){
    background-color: var(--green);
    border: none;
    color: white;
}

.leftside img{
    width: 200px;
}